body {
  font-family: 'CaveStoryRegular';
  font-weight: normal;
  font-style: normal;
  background-color: #9bbc0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #0f380f;
}

header {
  font-size: 20vmin;
}


#gameboard {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

#leftmarkers {
  display: grid;
  grid-template-rows: repeat(5, 10vmin);
  gap: 0.2vmin;
  margin-top: 16.75vmin;
}

#leftmarkers > div  {
  display: flex;
  flex-direction: row;
  font-size: 4.5vmin;
  justify-content: space-evenly;
  align-items: center;
  height: 6vmin;
  /* Need to fix width problem. When 9vmin, artifacts on right side. */
  width: 8vmin;
  border: 1vmin solid #0f380f;
  color: #8bac0f;
  background-color: #306230;
  transform: scale(0.9);
}

#topmarkers {
  display: grid;
  grid-template-columns: repeat(5, 10vmin);
  gap: 0.2vmin;
  margin-top: 1.5vmin;
}

#topmarkers > div {
  display: flex;
  flex-direction: column;
  font-size: 5vmin;
  justify-content: center;
  align-items: center;
  height: 12vmin;
  border: 1vmin solid #0f380f;
  color: #8bac0f;
  background-color: #306230;
  transform: scale(0.7)
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 10vmin);
  grid-template-rows: repeat(5, 10vmin);
  gap: 0vmin;
  border: 1vmin solid #8bac0f
}

.cell {
  border: 1vmin solid #8bac0f
}

button {
  font-family: 'CaveStoryRegular';
  font-size: 5vmin;
  margin-top: 3vmin;
  color:#0f380f;
  background-color: #9bbc0f;
  border: 5px outset #306230;
  border-radius: 5px;
}

button:hover {
  color: #9bbc0f;
  background-color: #0f380f;
  transition: all 500ms ease-in;
}

#newPuzzle {
  visibility: hidden;
}

#toggleFilled, #toggleBlank {
  position: relative;
  display: inline-block;
  width: 16vmin;
  height: 10vmin;
}

#toggleFilled {
  color: #9bbc0f;
  background-color: #0f380f;
}

#toggleBlank {
  color: #0f380f;
  background-color: #9bbc0f;
}